      dl{color: violet}
      th{color: blue;background-color: yellow}
      td{color: green;background-color: pink}
      h2{color: blue}

      .divclass{
        margin-left: 100;
        color: red;
        background-color: green;
      }


      .tableclass{
        margin-left: 100;
        width: 100;
        background-color: gray;

      }

       .loginbox{
            text-align: center;
            color: black;
            padding: 10px;
            border-radius: 200;
            height: 50px;
            width: 50px;
            background-size:30px 30px;
            background-color: blue;
            float: right;
       }
