      dl{color: violet}
      th{color: blue;background-color: yellow}
      td{color: green;background-color: pink}
      h2{color: blue}

      .divclass{
        margin-left: 100;
        color: red;
        background-color: green;
      }


      .tableclass{
        margin-left: 100;
        width: 100;
        background-color: gray;

      }
